MediatorReservationModuleCategory.xcodeproj/xcuserdata/
MediatorReservationModuleCategory.xcworkspace/
Pods/
*.swp
Podfile.lock
.DS_Store
MediatorReservationModuleCategory.xcodeproj/project.xcworkspace/xcuserdata/
